modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 18775
externalPort = 3000

[userenv]

[userenv.shared]
SUPABASE_URL = "https://pssaivyyhtkckbvdahjo.supabase.co"
SUPABASE_PUBLISHABLE_KEY = "sb_publishable_AJ7YGcLIoUZRFArb1rxgdA_Oc0zCa7k"
CLOUDINARY_CLOUD_NAME = "dhlocgatj"
CLOUDINARY_API_KEY = "433829665281736"
NEXT_PUBLIC_SUPABASE_URL = "https://pssaivyyhtkckbvdahjo.supabase.co"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY = "sb_publishable_AJ7YGcLIoUZRFArb1rxgdA_Oc0zCa7k"
